<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns: xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/(id=${book.id})}" th:object="${book}">
    <div>
        <label>Title:</label>
        <input type="text" required  th:field=${book.title}/>
    </div>
    <div>
        <label>Author:</label>

        <select th:field="${book.author}">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">Author</option>
        </select>
    </div>
    <div>
        <label>Genre:</label>

        <select th:field="${book.genre}">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genre}">Genre</option>
        </select>
    </div>
    <div>
        <button style="background-color: #4CAF50; color: white; padding: 5px 5px;" type="submit">Ok</button>
    </div>
</form>
</body>
</html>